@{
    
}

<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />


    <a class="voltar" asp-controller="Home" asp-action="Index">
        Voltar
    </a>
    <div class="praias">   
<ul>
    <li>
        <button id="PG">
                <a asp-area="" asp-controller="Praia" asp-action="praiagrande">
        <h2>praia grande </h2>
        <img src="~/img/Joinha.png" Class="Iimg">
        <img src="~/img/Estrela.png" Class="Iimg">
        <img src="~/img/Maré.png" Class="Iimg">
        <img src="~/img/Lixeira.png" Class="Iimg">
        <img src="~/img/Praia_Grande.jpg" Class="Pimg">
                </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="M">
                <a asp-area="" asp-controller="Praia" asp-action="Monguaga">
            <h2>Mongaguá</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Mongaguá.webp" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="SV">
                <a asp-area="" asp-controller="Praia" asp-action="SV">
            <h2>São Vicente</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/SV.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="I">
                <a asp-area="" asp-controller="Praia" asp-action="Itanhaem">
            <h2>Itanhaém</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Itanhaém.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="P">
            <a asp-area="" asp-controller="Praia" asp-action="Peruibe">
            <h2>Peruíbe</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/peruíbe.webp" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="S">
                <a asp-area="" asp-controller="Praia" asp-action="Santos">
            <h2>Santos</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Santos.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="B">
                <a asp-area="" asp-controller="Praia" asp-action="bertioga">
            <h2>Bertioga</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Bertioga.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="ID">
                <a asp-area="" asp-controller="Praia" asp-action="IC">
            <h2>Ilha Comprida</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/IC.png" Class="Pimg">
            </a>

        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="U">
                <a asp-area="" asp-controller="Praia" asp-action="Ubatuba">
            <h2>Ubatuba</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Ubatuba.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>
<ul>
    <li>
        <button id="G">
                <a asp-area="" asp-controller="Praia" asp-action="Guaruja">
            <h2>Guarujá</h2>
            <img src="~/img/Joinha.png" Class="Iimg">
            <img src="~/img/Estrela.png" Class="Iimg">
            <img src="~/img/Maré.png" Class="Iimg">
            <img src="~/img/Lixeira.png" Class="Iimg">
            <img src="~/img/Guaruja.jpg" Class="Pimg">
            </a>
        </button>
    </li>
</ul>

</div>




